.contact {
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 1rem;
  gap: 2rem;
}
.data p {
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: -10px;
}
.itens {
  list-style: none;
  line-height: 2;
}
.itens li::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 0.2rem;
  background: #ddd;
  margin-right: 10px;
}
.picture img {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
