.contact {
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 1rem;
  gap: 2rem;
}
.data p {
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: -10px;
}
.itens {
  list-style: none;
  line-height: 2;
}
