.header {
  margin: 1rem;
}

.header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ul li {
  margin-right: 1rem;
}
.link {
  background: #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #000;
  transition: 3s;
}
.link:hover {
  background: #ddd;
}
